/* Fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

/* Global Styles */
body, html {
  padding: 0;
  margin: 0;
  background-color: #FBFBFB;

  overflow-x: hidden;
  overflow-y: auto;

  scroll-behavior: smooth;

  font-family: 'Roboto'
}

a {
  text-decoration: none;
  color: black;
}

input, select {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  border: 1px solid rgb(169, 169, 169);
  padding: 2px;
}

/* Mixins */
@mixin transition($type, $time) {
  -webkit-transition: $type $time ease;
  -moz-transition: $type $time ease;
  -ms-transition: $type $time ease;
  -o-transition: $type $time ease;
  transition: $type $time ease;
}

@mixin transitions($time) {
  @include transition(all, $time);
}
  
@mixin bgtransitions($time) {
  @include transition(background-color, $time);
}

@mixin round($radius) {
  border-radius: $radius;
}

/* Utilities */
.shadow-1 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.ellipsis {
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.rainbow-background {
  background: linear-gradient(to right, gold, aquamarine, crimson, orchid, blue);
  background-size: 200% 200%;

  animation: rainbow 2s ease-in-out infinite;
  transition: color .2s ease-in-out;
}

.rainbow-text {
  @extend .rainbow-background;

  color: rgba(0, 0, 0, 0);

  background-clip: text;
  -webkit-background-clip: text;
}

.bottom {
  position: fixed !important;
  bottom: 0;
}

/* Components */
.container {
  position: relative;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 48em) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 64em) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 80em) {
  .container {
    width: 1170px;
  }
}

.card {
  @include round(3px);
  @extend .shadow-1;

  font-family: 'Roboto Mono', monospace;
  font-size: 12px;

  position: relative;

  padding: 10px 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  &.link-card {
    @include transitions(200ms);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.bottom {
    width: calc(100% - 50px);
  }

  div {
    @extend .ellipsis;
  }

  .main-info {
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
  }
}

.btn {
  @include round(3px);
  @include bgtransitions(200ms);
  @extend .shadow-1;

  width: 100%;
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #FBFBFB;

  &.btn-half {
    width: calc(46% - 2px);
    margin: 0 2%;
    display: inline-block;
  }

  &.btn-third {
    width: calc(33% - 2px);
    margin: 0 2%;
    display: inline-block;
  }

  &.btn-small {
    font-size: 12px;
    height: 19px;
    line-height: 19px
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.mobile-sub-header {
  @extend .rainbow-text;

  font-size: 12px;
  text-transform: uppercase;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  height: 28px;
  line-height: 28px;

  padding: 0 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.send-input {
  width: 48%;
}

.send-btn-container {
  float: right;
  width: 50%;
  display: inline-block;
  overflow: inherit !important;
}

.top-bar {
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto Mono';

  background-color: #FBFBFB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  height: 29px;
  line-height: 29px;
}

.input-field {
  margin-bottom: 15px;

  label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto Mono';
  }

  input {
    width: 100%;
  }
}
